*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(26, 11, 46, 1);
    font-family: "Inter", sans-serif;
    margin: 0;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
    background-color: #1A0B2E;
}
.navbar .logo{
    color: #FFFFFF;
}
.navbar .logo span{
    background:linear-gradient(47.64deg, rgba(247,233,63,1),rgba(251,9,180,1),rgba(145,0,248,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar .menu{
    display: flex;
    gap: 32px;
    list-style: none;
}
.navbar .menu a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}
.subscribe-btn{
    width: auto 135px;
    height: 44px;
    padding: 12px 16px;
    display: flex;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: #ffffff;
    background:linear-gradient(47.64deg,rgba(247,233,63,1),rgba(251,9,180,1),rgba(145,0,248,1));
}
.hamburger{
    display: none;
    width: 20px;
    cursor: pointer;
}
.navbar,
.menu,
.subscribe-btn{
    transition: all 0.3s ease;
}
#banner{
    position: relative;
    min-height: 100vh;
    background-image: url(images/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 80px;
    overflow: hidden;
    justify-content: center;
    text-align: center;
}
.images-container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.images-container .foreground{
    position: absolute;
}

.foreground-1{
    width: 300px;
    animation: circle 4s linear infinite ;
    transform-origin: center;
}
@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.foreground-2{
    width: 130px;
    animation: float 3s infinite ease-in-out;

}
@keyframes float{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}

.badge{
    position: absolute;
    top: -110px;
    left: 80px;
    background: #00ff88;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    padding: 4px 12px;
    border-radius: 20px;
    z-index: 5;
    animation: glowPulse 2s infinite ease-in-out;
    /* box-shadow: 0 0 5px rgba(0,255,136,0.8), 0 0 10px rgba(0,255,136,0.6), 0 0 20px rgb(1, 13, 7); */
}
@keyframes glowPulse{
    0%{
        box-shadow: 0 0 5px rgba(0,255,136,0.6), 
                    0 0 10px rgba(0,255,136,0.4), 
                    0 0 20px rgb(1, 13, 0.2);
                    transform: scale(1);
    }
    50%{
        box-shadow: 0 0 5px rgba(0,255,136,0.9), 
                    0 0 10px rgba(0,255,136,0.7), 
                    0 0 20px rgb(1, 13, 0.5);
                    transform: scale(1.1);
    }
    100%{
        box-shadow: 0 0 5px rgba(0,255,136,0.6), 
                    0 0 10px rgba(0,255,136,0.4), 
                    0 0 20px rgb(1, 13, 0.2);
                    transform: scale(1);
    }
}
.text-content{
    text-align: center;
    color: #FFFFFF;
    align-items: center;
    padding-top: 400px;
    justify-content: center;

}
.text-content h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
.text-content p{
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 30px;
}
.btn-group{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
#banner .primary-btn{
   width: 201px;
    height: 44px;
    padding: 12px 16px;
    display: flex;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: #ffffff;
    background:linear-gradient(47.64deg,rgba(247,233,63,1),rgba(251,9,180,1),rgba(145,0,248,1));
}
.subscribe-btn:hover,
.primary-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(251, 9 ,180, 0.4),
    0 0 15px rgba(145,0 ,248, 0.6);
}
#banner .second-btn{
    background: transparent;
    color: #00FF88;
    border: 2px solid #00FF88;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    width: 147px;
    height: 44px;
    cursor: pointer; 
    gap: 40px;
    align-items: center;
}
.second-btn:hover{
    transform: scale(1.1);
}
.about-section{
    text-align: center;
    padding: 50px 200px 120px 200px;
    
}
.about-section h1{
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 50px;
    color: white;
    
}
.about-section p{
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    
}
hr{
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.15)
}
.about-frame{
    padding-top: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-frame h2{
    padding-top: 10px;
    padding-bottom: 5px;
    color: #00FF88;
    font-size: 2.5rem;
    font-weight: 800;
    
}
.about-frame p{
    padding-top: 5px;
    color: rgba(250, 250, 250, 0.8);
    font-size: 1rem;
    font-weight: 400;
    
}

#grid-section{
    padding: 80px 120px;
    background: #2c1e57;
}
#grid-section h2{
    text-align: center;
    font-size: 2.5rem;
    color: #FFF;
    margin-bottom: 50px;
}
.grid-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card-1{
    grid-row: span 2;
    background: rgba(74, 27, 136, 0.9);
    border-radius: 18px;
    padding: 30px;
    color: #FFF;
    min-height: 160px;
}
.card-2{
    grid-column: span 3;
    background: rgba(74, 27, 136, 0.9);
    border-radius: 18px;
    padding: 30px;
    color: #FFF;
    min-height: 160px;
}
.card-3{
    grid-column: span 3;
    background: rgba(74, 27, 136, 0.9);
    border-radius: 18px;
    padding: 30px;
    color: #FFF;
    min-height: 160px;
}
.card-4{
    grid-column: span 3;
    background: rgba(74, 27, 136, 0.9);
    border-radius: 18px;
    padding: 30px;
    color: #FFF;
    min-height: 160px;
}
.card-5{
    grid-column: span 1;
    background: rgba(74, 27, 136, 0.9);
    border-radius: 18px;
    padding: 30px;
    color: #FFF;
    min-height: 160px;
}
.grid-section h3{
    font-size: 1.1rem;
    margin-bottom: 10px;
    padding-top: 20px;
}
.grid-section p{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.75);
    line-height: 1.5;
    text-align: left;
    justify-content: left;
}
#featured-episodes h2{
    padding-top: 120px;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    color: #FFFFFF;
}
.episodes-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.episode-card{
    background-color: #2c1e57;
    border-radius: 20px;
    width: 250px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.episode-video{
    position: relative;
    width: 100%;
    display: block;
    border-radius: 18px 18px 0 0;
    overflow: hidden;
    aspect-ratio: 16/9;

}
.episode-video iframe{
    width: 250px;
    height: 100%;
    display: block;
    border:0;
}
.play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8 );
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
}
.episode-card h3{
    margin: 15px 0 10px 0;
    font-size: 1.5rem;
    font-weight: 700;

}
.episode-card p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    font-weight: 400;
    line-height: 24px;
}
.duration{
    display: flex;
    margin-top: 10px;
    font-weight: 600;
    color: #00FF88;
    gap: 6px;
    align-items: center;
}
#meet-host{
    text-align: center;
    margin: 50px 0;
}
#meet-host h2{
    font-size: 2rem;
    margin-bottom: 40px;
    padding-top: 40px;
    color:white ;
}
.host-card{
    background-color: #2c1e57;
    border-radius: 20px;
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    gap: 20px;
    align-items: center;
}
.host-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.host-info{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.host-info h3{
    font-size: 1.4rem;
    color: #cccccc;
    margin-bottom: 15px;
    text-align: left;
}
.host-info p{
    font-size: 0.95rem;
    color: #cccccc;
    margin-bottom: 15px;
    text-align: left;
}
.social-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}
.social-links a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: transparent;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    color: #FFF;
    align-items: center;

    
    
}
.social-links a img{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.3s;
}
.social-links a img:hover{
    transform: scale(1.5);
}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
.social-icons{
    width:20px ;
    height:20px ;
    display: flex;
    gap: 16px;
}
h3{
  font-size: 20px;
  font-weight: 500;
  color: rgba(250, 250, 250, 1);
}
p{
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: rgba(250, 250, 250, 1);
}
footer{
    position: relative;
    height: 50vh;
    background-image: url(images/footer-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 80px;
    overflow: hidden;
}
.footer-logo .logo{
    color: #FFFFFF;
    font-size: 4.5rem;
    text-align: center; 
    font-weight: 900;  
}
.footer-logo .logo span{
    background:linear-gradient(47.64deg, rgba(247,233,63,1),rgba(251,9,180,1),rgba(145,0,248,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-content .social-icons {
     gap: 40px;
     justify-content: center;
     align-items: center;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
}
.footer-content .social-icons a{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    text-decoration: none;
    color: rgba(250, 250, 250, 0.8);
    white-space: nowrap;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
}
.footer-content p{
    padding-top: 45px;
    align-items: center;
    text-align: center;
    color: rgba(250, 250, 250, 0.8);
    
}
.social-links a,
.footer-content .social-icons a{
    transition: all 0.3s ease;
}
.social-links a:hover{
    background: linear-gradient(45deg,#ffffff,#ffffff,#ffffff);
    border: none;
}
.footer-content .social-icons a:hover{
    transform: translateY(-4px);
    color: #00ff88;
}




@media (max-width:576px) {
    .navbar{
        padding:16px 20px;
        display: flex;
    }
    .menu{
        display: none;
    }
    .subscribe-btn{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .hamburger img{
        width: 20px;
        height: 20px;
    }
    #banner{
        position: relative;
        min-height: 20vh;
        background-image:url(images/hero-bg.png);
        background-size:contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .images-container{
        
        position: relative;
        width: 200px;
        height: 90px;
        top: 30%;
        left: 40%;
        margin-bottom: 10px;
        margin-top: 180px;
        align-items: center;
    }
    .foreground-1{
        width: 200px;
    }
    .foreground-2{
        width: 80px;
    }
    .badge{
        top: -25px;
        right: 5px;
        left: auto;
        font-size: 12px;
        padding: 4px 10px;
    }
    .text-content{
        padding-top: 25px;
        text-align: center;
    }
    .text-content h1{
        font-size: 1.8rem;
        margin-bottom: 8px;
    }
    .text-content p{
        font-size: 0.9rem;
        line-height: 1.4;
    }
    .btn-group{
        flex-direction: row;
        gap: 12px;
    }
    .primary-btn,
    .second-btn{
        height: 40px;
        font-size: 14px;
        padding: 8px 14px;
    }
    .about-section{
        margin-top: 10px;
        text-align: center;
        padding: 0 20px;
    }
    .about-section h1{
        font-size: 2rem;
        line-height: 1.2;
    }
    .about-section p{
        font-size: 0.9rem;
        line-height: 1.3;
    
        
    }
    .about-frame{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
        text-align: center;
    }
    .about-frame h2{
        font-size: 1.6rem;
    }
    .about-frame p{
        font-size: 0.75rem;
    } 
    #grid-section{
    padding:  30px 10px;
    background: #2c1e57;
    }
    .grid-section{
    grid-template-columns: 1fr;
    gap: 10px;
    }
    .card-1{
            grid-column: span 3;
    }
    .card-2{
        grid-column: span 3;
    }
    .card-3{
        grid-column: span 3;
    }
    .card-4{
        grid-column: span 3;
    }
    .card-5{
        grid-column: span 3;
    }
    #grid-section h2{
        text-align: center;
        padding-top: 20px;
        font-size: 1.7rem;
        margin-top: 20px;
    }
    .episodes-container{
        flex-direction: column;
        padding: 10px 20px;
        align-items: center;
        
    }
    .episode-card{
    border-radius: 20px;
    width: 320px;
    }
    .episode-video{
    width: 100%;
    }
    .episode-video iframe{
    width: 100%;
    height: 100%;
    }

    #meet-host{
        text-align: center;
        padding: 0 20px;
    }
    .host-card{
        flex-direction: column;
        text-align: center; 
    }
    .host-info h3{
        font-size: 1.7rem;
        color: #cccccc;
        margin-bottom: 15px;
        text-align: center;
    }
    .host-info p{
        font-size: 0.95rem;
        color: #cccccc;
        margin-bottom: 15px;
        text-align: center;
    }
    .social-links{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        gap: 20px;
    }
    footer{
        position: absolute;
        height: fit-content;
        background-image: url(images/footer-bg.png);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        align-items: center;
    }
    .footer-logo .logo{
        color: #FFFFFF;
        font-size: 2.5rem;
        text-align: center; 
        font-weight: 900;  
    }
    .footer-logo .logo span{
        background:linear-gradient(47.64deg, rgba(247,233,63,1),rgba(251,9,180,1),rgba(145,0,248,1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .footer-content .social-icons {
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .footer-content .social-icons a{
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        
    }
    .footer-content p{
        padding-top: 20px;
        align-items: center;
        text-align: center;
        color: rgba(250, 250, 250, 0.8);
        
    }
    
}